<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--系统运行标识-->
    <add key="GUID" value="XXXXXXXX-XXXX-XXXX-XXXXXXXXXXXX" />

    <!--导出组件的路径-->
    <add key="EXPORTLICENSEURL" value="C:\uploadFiles\License.lic" />

    <!--上传, 导出附件的物理目录-->
    <add key="UPLOADFILEDIRECTORY" value="C:\uploadFiles" />
    <!--上传, 导出附件的HTTP路径-->
    <add key="UPLOADFILEHTTP" value="http://172.29.84.250:81" />


    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=.;database=KUNTAI_DB;uid=sa;pwd=sa"/>
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=.;database=KUNTAI_DB;uid=sa;pwd=sa"/>
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="server=.;database=KUNTAI_DB;uid=sa;pwd=sa"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--登录页地址 -->
    <add key="LoginPage" value="/"/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>

  </appSettings>
  <connectionStrings>
    <add name="DATABASE" connectionString="SERVER=.;DATABASE=KUNTAI_DB;USER ID=sa;PASSWORD=sa" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>